@page "/contact"

<div class="container mt-5">
    <div class="row section-even">
        <div class="col">
            <h1>Kontakt</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <a class="cstm-btn" href="mailto:jspr.ravn@gmail.com">Send mail</a>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2265.5654983762493!2d10.384928177105559!3d55.40048637295579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464cdffed7b8f533%3A0x30e0d24991003bc8!2sBaneg%C3%A5rdspladsen%201%2C%205000%20Odense!5e0!3m2!1sda!2sdk!4v1681901180773!5m2!1sda!2sdk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
