@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<PageTitle>Fotograf Vicki Grønnemose</PageTitle>

<header class="masthead">
    <div class="container mx-auto px-4 text-center">
        <div>
            <h1 class="text-white font-weight-bold">@content.Title</h1>
            <hr class="divider" />
        </div>
        <div>
            <p class="text-white-75 mb-5">@content.Summary</p>
            <a class="cstm-btn" href="/contact">Kontakt mig her</a>
        </div>
    </div>
</header>
<section id="about">
    <div class="container te">
        <h2>Om Vicki Grønnemose</h2>
    </div>
</section>
<section id="showcase">
    <h2>Se her</h2>
</section>

@code {
    private FrontpageContent content = new FrontpageContent();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            content = await Http.GetFromJsonAsync<FrontpageContent>("/api/GetFrontpageContent") ?? new FrontpageContent { Title = "", Summary = "" };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
